.side-bar
  .header
    %h3.header__name
      ユーザーネーム
    %ul.header__lists
      %li.list
      edit user
      %li.list
      new group
  .groups
    .group
      .group__name
        グループ1
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ2
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ3
      .group__message
        新着メッセージ
        